:root {
  /** PRIMARY **/
  --ion-color-primary: #7c3aed;
  --ion-color-primary-rgb: 124, 58, 237;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #6b21c9;
  --ion-color-primary-tint: #8b5cf6;

  /** SECONDARY **/
  --ion-color-secondary: #14b8a6;
  --ion-color-secondary-rgb: 20, 184, 166;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0f766e;
  --ion-color-secondary-tint: #2dd4bf;

  /** TERTIARY **/
  --ion-color-tertiary: #f97316;
  --ion-color-tertiary-rgb: 249, 115, 22;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #ea580c;
  --ion-color-tertiary-tint: #fb923c;

  /** SUCCESS / WARNING / DANGER / MEDIUM / LIGHT **/
  --ion-color-success: #22c55e;
  --ion-color-success-rgb: 34, 197, 94;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #16a34a;
  --ion-color-success-tint: #4ade80;

  --ion-color-warning: #eab308;
  --ion-color-warning-rgb: 234, 179, 8;
  --ion-color-warning-contrast: #1f2937;
  --ion-color-warning-contrast-rgb: 31, 41, 55;
  --ion-color-warning-shade: #ca8a04;
  --ion-color-warning-tint: #facc15;

  --ion-color-danger: #ef4444;
  --ion-color-danger-rgb: 239, 68, 68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #dc2626;
  --ion-color-danger-tint: #f97373;

  --ion-color-medium: #64748b;
  --ion-color-medium-rgb: 100, 116, 139;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #475569;
  --ion-color-medium-tint: #94a3b8;

  --ion-color-light: #f9fafb;
  --ion-color-light-rgb: 249, 250, 251;
  --ion-color-light-contrast: #111827;
  --ion-color-light-contrast-rgb: 17, 24, 39;
  --ion-color-light-shade: #e5e7eb;
  --ion-color-light-tint: #ffffff;
}
